body{
    background: black;
    color:white;
}

.box{
    --size: 200px;
    background: red;
    width: var(--size);
    height:  var(--size);
  /*  transition: all 1s ease 2s;*/
}
/*.box:hover{
    background: lawngreen;
    height: 300px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease; 
    transition-delay: 1s;
}*/

/*Atajo*/
.box:hover{
    background: lawngreen;
    height: 300px;
    transition: all 1s ;
   /* transform: translate(200px, 0);*/
}

/*Delay*/
/*.box{
    --box: 200px;
    background: blueviolet;
    width: var(--size);
    height: var(--size);
    transition: all 2s ease 2s;
}
.box:hover{
    height: 400px;
    background: indianred;
    transform: translate(200px, 0);
}*/

