body{
    background: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    --size: 200px;
    width: var(--size);
    height:  var(--size);
    transition: all 1s ease;
}

.box1{
    background: blueviolet;
}

.box2{
    background: orange;
    margin-left: 50px;
}

.box:hover{
    height: 300px;
    width: 300px;
}




